h1, h2, h3, h4, h5, h6, p {
  font-weight: 100;
}

#header {
    text-align: center;
}

.form-section {
    margin: auto;
}

.card-content, .card-action {
    background-color: rgb(19, 130, 195);
    color: white;
}

.card-title {
    text-align: center;
    border-bottom: thin solid black;
    padding-bottom: 0.5em;
}

.card-action {
    text-align: center;
    color: white;
}

label {
    color: white;
}

.page-footer, .nav-wrapper {
    background-color: rgb(19, 130, 195);
}

#logo {
    width: 50%;
    height: 50%;
}
#form2 {
  display: none;
}

#form3 {
  display: none;
}
#form4 {
  display: none;
}

/*Section 4*/
.sarnat {
  text-align: center;
}
/*.sarnat {
  display: inline-flex;
}
.sarnat p {
  padding: 5px;
}*/


.switch {
  display: inline;
}

.question label {
  font-weight: bold;
}
