.body {
    color: white;
}

#header {
    text-align: center;
}

.form-section {
    margin: auto;
}

.card-content, .card-action {
    background-color: rgb(19, 130, 195);
    color: white;
}

.card-title {
    text-align: center;
    border-bottom: thin solid black;
}

.card-action {
    text-align: center;
    color: white;
}

p label {
    color: white;
}

.page-footer {
    background-color: rgb(19, 130, 195);
}
