h1, h2, h3, h4, h5, h6, p {
  font-weight: 100;
}

#header {
    text-align: center;
}

.form-section {
    margin: auto;
}

.card-content, .card-action {
    background-color: rgb(19, 130, 195);
    color: white;
}

.card-title {
    text-align: center;
    border-bottom: thin solid black;
    padding-bottom: 0.5em;
}

.card-action {
    text-align: center;
    color: white;
}

p label {
    color: white;
}

.page-footer {
    background-color: rgb(19, 130, 195);
}

/*#form2 {
  display: none;
}*/

#form3 {
  display: none;
}
