body {
  font-size: 2.5em !important;
}
label, input, button {
  font-size: 1em !important;
}
.card-title {
  font-size: 1.2em !important;
}
.row {
  text-align: center;
}
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
  padding-right: 10px;
}
[type="radio"]+label:before, [type="radio"]+label:after{
  /*transform: scale(1.5) !important;*/
  width: 30px;
  height: 30px;
  margin: -1px;
}
tbody [type="radio"]+label:before, [type="radio"]+label:after{
  margin-top: 5px;
}

tbody {
  display: grid !important;
  white-space: normal !important;
}
tbody td label {
    line-height: 50px !important;
  }
